body {
    background-color: #f3f3f3 !important;
}

.text-name{
    color: #4e1da5 !important;
}

.btn-primary {
    background-color: #4e1da5 !important;
    border-color: #2a0c5f !important;
}

.btn-primary:hover {
    background-color: #6a3abf !important;
}

a.link, a.link:visited {
    color: #2a0c5f;
}

a.link:hover {
    color: #6a3abf !important;
}

td {
    padding-left: 10px !important;
    padding-right: 10px !important;
}